footer{
    padding: 10px;
    p{
    font-weight: bold;
    color: white;
}
    a{
    color: white;
    text-decoration: none;
}
    a:hover{
    color: $hover-color;
}
    li{
    color: white;
    text-decoration: none;
    list-style: none;
}
    img {
    height: 10vh;
}
}

/* Animaciones para perro sobre el footer */
.dog {
    height: 12vh;
    animation: move 10s linear infinite forwards;
    top: 24px;
    left: 0;
    position: relative;
  }
  
  @keyframes move {
    100% {
      transform: translateX(100vw);
    }
    0% {
      transform: translateX(-100%);
    }
  }
